


#mainContainer{
    
    
    
    
    
    
}

#mainSubContainer{

    
}

#firstHeadlineContainer{

    
    
}


#firstHeadline{

    
}



#startedMainContainer{


}

#startedMainSubContainer{

}
#startedHeadlineContainer{

    
}
#startedHeadline{

    
}


#startedCardContainer{

    
}

#startedCardSubContainer{

    
}



#goingMainContainer{


}

#goingHeadlineContainer{


}

#goingHeadlineSubContainer{

}

    
    
#goingComponentContainer{

    
}

#goingImageContainer{

    
}
#goingImageSubContainer{

    
}


#headedMainContainer{

    
}

#headedMainSubContainer{

    
}

#headedHeadlineContainer{

    
}
#headedHeadline{

    
}


#headedComponent{

    
}

#imagGridContainer{
    
    display: grid; 
    place-content: center; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 2rem; 
    
    width: 80vw; 
    margin: 0 auto !important; 

    
}


@media(max-width: 900px){

    
    #imagGridContainer{
    
        display: grid; 
        place-content: center; 
        grid-template-columns: 1fr  1fr;
        grid-auto-rows: auto;
        gap: 2rem; 
        

        width: 90vw; 
        margin: 0 auto !important; 
    
        
    }
#goingImageSubContainer{
    
    /* margin-bottom: 170vh; */
    
    
    
}
    
}


@media(max-width: 660px){

     #imagGridContainer{
    
        display: grid; 
        place-content: center; 
        grid-template-columns:1fr;
        grid-auto-rows: auto;
        gap: 2rem; 

        width: 90vw; 
        margin: 0 auto !important; 
    
        
    }
    
    
}





















































































































