#mainCardContainer{ 

max-width: 900px; 
width: 35vw; 
min-height: 300px;

/* background: url('../assets/PrayerNight/BluePrints.jpg') !important;  */
background-size: cover; 
background-position: center center !important; 

position: relative;
border-radius: 20px !important; 
color: white !important; 


transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) !important;




}


#imageContainer{






}



#image{
    /* outline: 4px solid lime; */
    margin: auto;
    width: 560px;
    height: 343px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}








#mainCardContainer:hover{ 
    transform: translate(0, -0.3rem) !important;
    transform: scale(1.01) !important; 
    /* outline: 5px solid lime !important;  */
}

#textContainer{

margin: 0 auto !important; 

width: max-content; 

position: absolute;

top: 80%; 
left: 50%; 
transform: translate(-50%, -50%);

font-size: clamp(1rem, 0.5vw + 0.99rem, 1.9rem); 
font-weight: 700; 
color: white !important; 
}

@media(max-width: 840px){
#mainCardContainer{ 
    width: 80vw; 
    display: block !important;
    margin: 0 !important; 
} 
}