*, *::after, *::before{
padding: 0; 
margin: 0; 
}
body{
position: relative; 
width: 100vw; 
min-height: 100vh;
box-sizing: border-box;
}
html{
scroll-behavior: smooth;
}
#cta-component-container{
width: 100vw; 
min-height: 60vh;
position: relative; 
}
#cta-image-container{
position: relative;
}
#cta-text-section{
position: absolute; 
top: 50%; 
left: 50%; 
transform: translate(-50%, -50%);
width: 90vw; 
margin: 0 auto; 
}
#cta-text-sub-container{
    width: 90%; 
    margin: 0 auto; 
}
#cta-image{
width: 100vw; 
min-height: 59vh;
max-height: 65vh; 
}
#cta-button-container{
position: relative; 
}
#cta-button{
width: 10.3rem; 
background-color: #ecb61f; 
border-radius: 10px; 
height: 3.3rem; 
}
#cta-button-text{
  color: white; 
  text-transform: uppercase;
  font-weight: 650; 
}
#cta-header{
font-size: clamp(0.9rem, 2vw + 1rem, 2.4rem); 
font-weight: 785;
}
#cta-span-one{
    color: white; 
    font-size: 1.12rem; 
    font-weight: 500; 
}
#cta-span-two{
display: block;
margin-top: 0.6rem; 
color: white; 
font-size: 1.12rem; 
    font-weight: 500;
    width: 40%; 
}
#cta-button-container{
margin-top: 3rem; 
}
@media(min-width: 1200px){
    #cta-text{
        width: 20vw !important; 
        min-height: 100vh !important; 
    }
#cta-button-container{
    margin-top: 0; 
    margin-left: 70vw; 
    transform: translate(0rem, -6rem);
}
}
@media(min-width: 1200px){
     #cta-button-container{
        transform: translate(0, -7.7rem) !important;
    }
}
@media(max-width: 600px){
    #cta-header-container{
    transform: translate(0rem, 1rem) !important;
    }
    #cta-span-one{
    width: 83vw; 
    font-size: clamp(0.7rem, 1.5vw +  0.5rem, 2rem);
    }
    #cta-span-two{
       width: 83vw; 
    font-size: clamp(0.7rem, 1.5vw +  0.5rem, 2rem);
    }
    #cta-button-container{
        margin-top:  1.8rem; 
    }
}
@media(max-width: 463px){
    #cta-component-container{
        outline: 20px solid lime !important; 
        transform: translate(0, 10vw) !important; 
    }
}
@media(max-width: 882px){
    #cta-component-container{
        display: none !important; 
    }
}