#footercontainer{
    background: #161822 !important;
    background-color:  #161822 !important;
    position: relative !important;
    width: 99.9vw !important;
    margin: 0 auto !important;
    padding: 0 !important;
    min-height: 75vh;
    -webkit-transform: translate(0,0) !important;
    -moz-transform: translate(0,0) !important;
    -ms-transform: translate(0,0) !important;
    -o-transform: translate(0,0) !important;
    transform: translate(0,0) !important;
}
#backgroundcontainer{
    min-width: 100vw !important; 
    position: absolute; 
    background-color:  #161822 !important;
    left: 0; 
    right: 0; 
}
#mobilefooterbackground{
    background: #161822 !important; 
}
#footerlogocontainer{
    position: absolute; 
    top: 13%; 
    left: 50%;
    transform: translate(-50%, 50%);    
}
#footerlist{
    text-align: center;
}
#footerlistitem{
    margin-top: 0.62rem; 
}
#footerlisttext{
    font-size: 1.1rem;
    text-transform: uppercase;
}
#bottombuttonssection{
    position: absolute; 
    bottom: 0; 
    left: 0%; 
    width: 100vw; 
}
#footersocialbuttonscontainer{
    position: relative; 
}
#sociallistcontainer{
    min-height: 4.31rem;
    display: flex;
    align-items: center;
}
#socialmedialist{
    width: 34vw; 
    border-right: 1px solid white; 
    height: 4.93rem; 
    margin-bottom:0px; 
    overflow: hidden;
}
#socialmedialistitem{
    display: inline-block;
    margin-top: 1.1rem; 
    font-size: 3rem;
}
.facebookicon{
margin-left: 1.6rem; 
margin-right: 0.45rem;
font-size: 2.5rem; 
}
#footersocialicon{
font-size: 2.5rem;  
color: white; 
transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
cursor: pointer !important; 
}
#footerCTAcontainer{
position: absolute; 
bottom: 0px; 
border: 1px solid white; 
overflow: hidden;
width: 100vw; 
min-height: 5rem; 
}
#CTAbuttoncontainer{
    width: 23rem; 
    transform: translate(36vw, 0);
}
#CTAbutton{
    display: grid; 
    justify-content: center;
    align-content: center;
}
#footerCTAtext{
    margin-top: 1.5rem; 
    text-transform: uppercase;
}
#footermaincontainer{
    background: #161822 !important;
    background-color:  #161822 !important;
    position: absolute; 
    bottom: 0 !important;
    left: 0 !important; 
}
#footersectioncontainer{
    display: grid;
    position: relative !important;
    width: 99.5vw; 
    margin: 0 auto !important; 
    transform: translate(0,0) !important;
    padding: 0 !important; 
}
#sectionlistcontainer{
display: grid; 
margin-top: 3%; 
margin-left: 5%; 
margin-right: 5%; 
min-height: 50vh;
grid-template-columns: 4fr 2fr;
position: relative; 
}


#listcontainer{
position: absolute; 
left: 0; 
top: 16% !important; 
}

#sectionlist{
display: grid;
place-content: center;
}
#sectionlistitem{
margin-bottom: 1rem; 
}
#headlinecontainer{
    -webkit-transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -ms-transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
#footermaincontainer{
width: 99.9vw !important; 
position: relative !important; 
margin: 0 auto !important; 
padding: 0 !important; 
}
#sectionheadline{
margin-bottom: 2rem; 
font-size: 1rem !important;
cursor: pointer !important; 
font-weight: 500; 
  transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
#secondsectioncontainer{
    position: absolute; 
    right: 0; 
    top: 0%; 
}
#secondsectionlist{
    min-height: 37vh; 
    margin-top: 5.5% !important; 
    margin-left: -10% !important; 
    display: grid;
    justify-content: center;
    padding-top: 0.6rem; 
    width: 33vw !important;
    grid-template-columns: 1fr 1fr;
}
#secondsectiontext{
    font-size: 1.2rem; 
    font-weight: 700;   
}
#locationicon{
    font-size: 1rem; 
    font-weight: 500; 
}
#meetinglocation{
    margin-left: 1rem; 
    font-size: 1.2rem; 
    font-weight: 700; 
    color: white; 
}
#meetinginfo{
    display: block; 
    font-size: 1rem; 
    font-weight: 500; 
    color: grey; 
    margin-top: 5.5px !important; 
    transform: translate(4.5px, 0);
}
#headlinecontainer{
    margin-bottom: 1.7rem; 
} 
#sectionheadline{
    font-size: 1.1rem; 
    font-weight: 700;
    color: #e7e7e8; 
    text-transform: uppercase;
}
#listphonetext{
    font-size: 1.2rem !important;
    color: #00c56f; 
    transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    cursor: pointer !important; 
}
#listtext{
   font-size: 1.5rem; 
   font-weight: 400; 
    color: #00c56f;
    transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    cursor: pointer !important; 
}
.emailcontact{
    margin-bottom: 2rem !important; 
    margin-top: -5px; 
    transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
#signupcontainer{
display: grid;
place-content: center;
}    
#signupheader{
font-size: 1.3rem; 
font-weight: 400; 
}    
#signupinput{
width: 12rem; 
margin-top: 1rem; 
margin-bottom: 3rem; 
margin-left: 13.5%; 
}
#footersectioncontainer{
    display: grid;
}
#sociallist{
    display: flex;
    align-items: baseline; 
}
#socialitem{
    display: inline-block;
    margin-right: 1rem; 
    font-size: 1.3rem; 
}
#iconcontainer{
    font-size: 2rem; 
    transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    cursor: pointer !important; 
}
#bottomsectioncontainer{
    position: absolute;
    bottom: 9% !important; 
    left: 5%; 
    display: flex;
    justify-items: center;
    
}
#bottomsectionlist{
    display: flex; 
    place-items: center;    
    margin: 0 auto; 
    color: white; 
}
#bottomsectionitem{ 
display: inline-block; 
margin-right: 2rem; 
font-size: 0.75rem; 
cursor: pointer !important; 
-webkit-transition: all  0.5s cubic-bezier(0.25, 0.1, 0.25, 1); 
-moz-transition: all  0.5s cubic-bezier(0.25, 0.1, 0.25, 1); 
-ms-transition: all  0.5s cubic-bezier(0.25, 0.1, 0.25, 1); 
-o-transition: all  0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
transition: all  0.5s cubic-bezier(0.25, 0.1, 0.25, 1); 
}
#copyrightinfo{
margin-top: 5%; 
position: absolute !important;
bottom: 8%; 
right: 9%; 
width: 35vw; 
font-size: 0.84rem; 
font-weight: 500; 
display: grid; 
justify-content: center;
color: #535357; 
}
#copyrightinfocontainer{
width: 100vw; 
margin: 0 auto;
background-color: #161822 !important;
}
#ministrytagline{
position: absolute; 
bottom: 10%; 
right: 5%; 
display: grid;
place-content: center;
margin-top: 2rem; 
color: white; 
}
@media(max-width: 1800px) and (min-width: 1435.1px){
    #copyrightinfocontainer{
        margin: 0 auto !important;
}
    #taglinecontainer{
        margin-top: 1rem !important;
        position: absolute  !important;
        bottom: 5%;
        right: 15%;
        width: 5rem;
}
}
@media(max-width: 1435px){
    #copyrightinfocontainer{
        width: 50vw !important;
        margin: 0 auto !important; 
        display: grid;
        place-content: center;
    }
    #copyrightinfo{
        position: relative !important;
        width: 90vw; 
        display: grid;
        place-content: center;
        margin-top: 2.3rem; 
    }
    /* #bottomsectioncontainer */
    #bottomsectioncontainer
    {
    left: 25%;
    bottom: 5%;
    transform: translate(-50%, -50%);
    width: 20vw;
    padding: 0 !important;
    display: grid;
    place-content: center;
    margin: 4rem auto !important;
    margin-top: 5rem;
    -webkit-transform: translate(0,0) !important;
    -moz-transform: translate(0,0) !important;
    -ms-transform: translate(0,0) !important;
    -o-transform: translate(0,0) !important;
    transform: translate(0,0) !important;
}
    /* #ministryMaterial */
    #ministrymaterial
    
    {
        position: relative !important; 
    }
    /* #taglinecontainer */
    #taglinecontainer
    {
        width: 50vw; 
        margin: 0 auto !important; 
        padding: 0 !important; 
        transform: translate(0,0) !important;
        position: relative !important; 
    }
    #listcontainer
    {
    position: relative; 
    }
    #secondsectioncontainer
    {
        position: relative; 
    }
    #secondsectionlist
    {
        margin: 0 auto; 
        margin-top: 15vh; 
    }
    #sectionlistcontainer
    
    {
        grid-template-columns: 1fr !important; 
    }
    }
@media(max-width: 1435px){
    #sectionlistitem
    {
        text-align: center;
    }
    #sectionlist
    {
        text-align: center; 
    }
    #secondsectioncontainer{
        position: relative !important; 
        margin: 0 !important; 
        padding: 0 !important; 
        display: grid;
        place-content: center;
    }
    #secondsectionlist{
        padding: 0 !important; 
        margin-top: 4rem !important; 
        grid-template-columns: 1fr !important; 
        width: min-content !important; 
    }
    #sociallist{
        margin: 0 auto !important; 
    }
    #socialmediaitem{
        margin: 0 auto !important; 
    }
    #copyrightinfocontainer{
        width: 60vw; 
        margin: 0 auto !important; 
        padding: 0 !important; 
        transform: translate(0,0) !important;
        position: relative !important; 
        display: grid; 
        place-content: center;
    }
    #copyrightinfo{
        width: 50vw !important; 
        position: absolute !important; 
        left: 0 !important; 
        top: 0 !important; 
        margin: 0 auto !important; 
        padding: 0 !important; 
        transform: translate(0,0) !important;
        z-index: 20 !important; 
    }
    #bottomsectioncontainer{
    width: 50vw; 
    margin: 0 auto !important; 
    transform: translate(0,0) !important;
    padding: 0 !important; 
    margin-bottom: 3rem !important; 
    display: grid;
    place-content: center;
    }
    #bottomsectionlist{
        margin: 0 auto !important; 
        padding: 0 !important; 
        transform: translate(0,0) !important;
        position: relative !important; 
    }
    #taglinecontainer{
        margin-bottom: 3rem;
    }
}
@media(max-width: 1434.4px){
#taglinecontainer{
    margin-top: 6rem !important; 
}
#copyrightinfocontainer{
    margin-top: 5.5rem !important; 
    margin-bottom: 7rem;
}
#bottomsectioncontainer{
bottom: 1.9% !important; 
}
}
@media(max-width: 960px){
    #copyrightinfocontainer{
        text-align: center !important; 
    }
    #bottomsectionlist{
        margin: 0 auto !important; 
    }
}

@media(max-width: 620px){
    #copyrightinfocontainer{
        margin: 0 auto !important; 
        padding: 0 !important; 
    }
}
@media(max-width: 665px){
    #copyrightinfocontainer{
        display: none;
    }

    #bottomsectionlist{

        margin-bottom: -10rem !important;
        /* outline: 5px solid lime;  */
        width: 90vw !important; 
        place-content: center; 




    }

#taglinecontainer{
    /*outline: 4px solid lime;
    */display: grid;
    place-content: center;
    width: min-content;
    transform:translate(0.9rem,5rem) !important ;
    -webkit-transform:translate(0.9rem,5rem) !important ;
    -moz-transform:translate(0.9rem,5rem) !important ;
    -ms-transform:translate(0.9rem,5rem) !important ;
    -o-transform:translate(0.9rem,5rem) !important ;
}

}



@media screen and (max-width: 480px) {
    #herocontainer{
        margin-left: -1.5rem;
    }
    #copyrightinfocontainer{
        text-align: center !important; 
    }
    #footersectioncontainer{
    transform: translate(0vw, 0) !important;
    }
    #secondsectionitem{
        margin-top: 3.5rem !important;
    }
        #sectionlistcontainer{
            transform: translate(0, 3rem) !important; 
        }
        #sectionlist{
            margin: 0 auto; 
        }
        #bottomsectionlist{
            flex-wrap: wrap;
            justify-content: center;
            color: white !important; 
        }
        .missionstatementitem{
            margin-top: 1rem !important; 
        }
        #bottomsectioncontainer{
            margin-top: 7rem !important;
        }
    #bottomsectionlist{
        width: 80vw !important; 
    }
    #sectionlistcontainer{
        margin: 0 auto !important; 
    }
    #sectionlist{
        margin: 0 auto !important; 
    }
    #listcontainer{
        position: absolute; 
        left: 0; 
        position: relative; 
        margin: 0 auto !important; 
        top: 22% !important; 
        }
        #secondsectionlist{
        }
        #taglinecontainer{
            margin: 0 auto !important; 
            width: 50vw; 
            font-weight: 400;   
            margin-top: 13rem !important;
            margin-bottom: 2rem !important;
        }
        #socialitem{
            margin-right: 1.4rem;   
            transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
        }
        #copyrightinfocontainer{
            margin: 0 auto !important; 
            text-align: center !important; 
        }
        #bottomsectionlist{
            margin: 0 auto !important; 
        }

        #taglinecontainer{
            /*outline: 4px solid lime;
            */display: grid;
            place-content: center;
            width: min-content;
            transform:translate(0.9rem,0rem) !important ;
            -webkit-transform:translate(0.9rem,0rem) !important ;
            -moz-transform:translate(0.9rem,0rem) !important ;
            -ms-transform:translate(0.9rem,0rem) !important ;
            -o-transform:translate(0.9rem,0rem) !important ;
}



      
#herotextcontainer{
position: absolute;
top: 50%; 
left: 5vw; 
z-index: 20; 
}
@media(max-width: 390px){
    #sociallist{
        -webkit-transform: translate(2.8vw, 0) !important;
        -moz-transform: translate(2.8vw, 0) !important;
        -ms-transform: translate(2.8vw, 0) !important;
        -o-transform: translate(2.8vw, 0) !important;
        transform: translate(2.8vw, 0) !important;
        transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
}
#iconcontainer:hover{ 
    -webkit-transform: scale(1.1) !important ; 
    -moz-transform: scale(1.1) !important ; 
    -ms-transform: scale(1.1) !important ; 
    -o-transform: scale(1.1) !important ;
    transform: scale(1.1) !important ; 
    
    -webkit-transform: translate(0, 3deg) !important ;
    -moz-transform: translate(0, 3deg) !important ;
    -ms-transform: translate(0, 3deg) !important ;
    -o-transform: translate(0, 3deg) !important ;
    transform: translate(0, 3deg) !important ;
}
#footersocialicon:hover{
    -webkit-transform: translate(0, 3deg) !important ;
    -moz-transform: translate(0, 3deg) !important ;
    -ms-transform: translate(0, 3deg) !important ;
    -o-transform: translate(0, 3deg) !important ;
    transform: translate(0, 3deg) !important ;
}
#socialitem:hover{
    -webkit-transform: scale(1.1) !important ; 
    -moz-transform: scale(1.1) !important ; 
    -ms-transform: scale(1.1) !important ; 
    -o-transform: scale(1.1) !important ;
    transform: scale(1.1) !important ; 
    -webkit-transform: translate(0, 3deg) !important ;
    -moz-transform: translate(0, 3deg) !important ;
    -ms-transform: translate(0, 3deg) !important ;
    -o-transform: translate(0, 3deg) !important ;
    transform: translate(0, 3deg) !important ;
}
#listphonetext:hover{
    color: #42f5a8 !important;
    transform: scale(1.1) !important ;
    -webkit-transform: scale(1.1) !important ;
    -moz-transform: scale(1.1) !important ;
    -ms-transform: scale(1.1) !important ;
    -o-transform: scale(1.1) !important ;
    -webkit-transform: translate(0, 3deg) !important;
    -moz-transform: translate(0, 3deg) !important;
    -ms-transform: translate(0, 3deg) !important;
    -o-transform: translate(0, 3deg) !important;
    transform: translate(0, 3deg) !important;
}

#emailcontact:hover{
    
    color: #42f5a8 !important;
    transform: scale(1.1) !important ;
    -webkit-transform: scale(1.1) !important ;
    -moz-transform: scale(1.1) !important ;
    -ms-transform: scale(1.1) !important ;
    -o-transform: scale(1.1) !important ;
    
    -webkit-transform: translate(0, 3deg) !important;
    -moz-transform: translate(0, 3deg) !important;
    -ms-transform: translate(0, 3deg) !important;
    -o-transform: translate(0, 3deg) !important;
    transform: translate(0, 3deg) !important;
}
#listtext:hover{
    color: #42f5a8 !important;
    transform: scale(1.1) !important ;
    -webkit-transform: scale(1.1) !important ;
    -moz-transform: scale(1.1) !important ;
    -ms-transform: scale(1.1) !important ;
    -o-transform: scale(1.1) !important ;
    -webkit-transform: translate(0, 3deg) !important;
    -moz-transform: translate(0, 3deg) !important;
    -ms-transform: translate(0, 3deg) !important;
    -o-transform: translate(0, 3deg) !important;
    transform: translate(0, 3deg) !important;
}
#bottomsectionitem:hover{
    color: white;
    -webkit-transform: scale(1.1) !important;
    -moz-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    -o-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
}

}