



#mainContainer{

    
    
}

#subContainer{
    


width: 50vw; 
margin: 0rem auto; 

    
}

#headlineContainer{



    width: 50vw; 
    
/* width: max-content;  */
margin: 0 auto; 

text-align: center; 
color: rgb(235, 235, 243); 
font-size: 1.5rem; 
font-weight: 600;

display: flex; 
flex-wrap: wrap; 
justify-items: center;



}


#headline{

margin: 0 auto; 


    
}


#giveButtonSection{

    
}


#giveButtonSubSection{

    
    
}

#giveButton{


    width: 12rem; 
    margin: 2rem auto; 
    border-radius: 10px; 
    min-height: 4rem; 
    
    display: grid; 
    place-content: center; 
    background: #00c670; 
    
    font-weight: 550; 
    font-size: 1.3rem; 
    color: white; 
    
    
    
    
}




/* Add in the media queries here  */

@media(max-width: 500px){

    
    #headlineContainer{


    width: 70vw; 
    
    
margin: 0 auto; 

text-align: center; 


color: rgb(65, 62, 62); 

font-size: 1.5rem; 
font-weight: 600;

display: flex; 
flex-wrap: wrap; 



}


/* Add in th main container here  */
    
#subContainer{
    


    width: 75vw; 
    margin: 0rem auto; 
    

    
        
        
    }




    
}









































































































