*, *::after, *::before{
    padding: 0; 
    margin: 0; 
    }
    body{
    padding: 0; 
    margin: 0; 
    position: relative;
    width: 100vw; 
    min-height: 100vh;
    overflow-x:  hidden !important; 
    }
    html{
    scroll-behavior: smooth;
    }
    #giving-hero-main-container{
    width: 99.999vw; 
    max-width: 99.999vw; 
    min-height: 80vh;
    position: relative; 
    }
  
    #giving-hero-image{
    background: url('../assets/PrayerNight/BluePrints.jpg');
    background-color: rgba(0, 0, 0, 0.2); 
    background-blend-mode: darken;
    width: 99.999vw !important; 
    position: relative; 
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: cover;
    }
    #giving-hero-text-container{
    font-size: 3rem;
    color: white !important; 
    }
    #giving-hero-text-sub-container{
    position: absolute; 
    left: 10%; 
    top: 80%; 
    color: white !important; 
    font-weight: 700;   
    }
    @media(max-width: 1700px){
    #giving-hero-image{
        min-height: 93.4vh;
    }
    #giving-hero-text-sub-container{
    font-size: clamp(1.85rem, 1vw + 1rem, 3rem) !important; 
    position: absolute; 
    left: 12%; 
    top:68.99%; 
    color: white !important; 
    font-weight: 800;   
    }
    #giving-hero-text-sub-container{
        
        
    font-size: 3rem !important;
    }
    }
    @media(max-width: 1000px){
        #giving-hero-text-sub-container{
        left: 5%;
        top: 72%; 
    }
    }
    @media(max-width: 768.5px){
        #giving-hero-image{
            min-height: 49vh;
        }
        #giving-hero-text-sub-container{
        font-size: clamp(1.85rem, 1vw + 1.9rem, 3rem) !important; 
        position: absolute; 
        left: 5%; 
        top:39%; 
        z-index: 2000000000000 !important;
        color: white !important; 
        font-weight: 700;   
    }
    }
    @media(max-width: 500px){
        #giving-hero-image{
            min-height: 70.5vh;
        }
    #giving-hero-text-container{
        font-size: 3rem;
        color: white !important; 
        z-index: 999999999999999 !important; 
        }
        #giving-hero-text-sub-container{
        position: absolute; 
        left: 4.5%; 
        top: 65%; 
        color: white !important; 
        font-size: clamp(1.6rem, 1vw + 1rem, 3rem) !important; 
        font-weight: 700;   
        }
    }