#cardMainContainer{
position: relative;
color: white; 



margin: 0 auto !important; 
align-self: center;



display: inline-block;  


}



#cardImage{
background: url('../assets/BluePrints.jpg') !important; 
background-size: cover; 
background-position: center center; 
width: 23.5vw; 
/* min-width: 25rem;  */
/* max-width: 600px;  */
min-height: 250px; 
/* border-radius: 1.3em;  */
border-top-left-radius: 1.3em; 
border-top-right-radius: 1.3em; 

margin: 0 auto; 
position: relative;
z-index: 1; 




}
#cardTextContainer{
margin: 0rem auto !important; 
margin-top: -2rem; 
position: relative; 
z-index: 3; 
padding: 2rem; 
background-color: white; 
color: rgb(23, 23, 23); 
border-bottom-left-radius: 1.313rem;
border-bottom-right-radius: 1.313rem;
width: 23.5vw; 



/* min-width: 25rem;  */
/* max-width: 26rem;  */
}
#cardHeadlineContainer{
font-weight: 800;
font-size: clamp(1rem, 1vw + 1rem, 1.5rem) !important; 
margin-bottom: 1rem;
}
#cardText{
color: rgb(136, 133, 133); 
font-weight: 500;
}
@media(max-width: 1370px) and (min-width: 700px) {
#cardTextContainer{
width: 27vw !important; 
min-width: 27vw !important; 
max-width: 27vw !important; 
}
#cardImage{
width: 27vw !important;
min-width: 27vw !important;
max-width: 27vw !important;
}
}
@media(max-width: 700px){
    #cardTextContainer{
        width: 60vw !important; 
        }
        #cardImage{
        width: 60vw !important;
        } 
        
        
        #cardMainContainer{
            position: relative;
            color: white; 
            
            /* width: 22.5vw;  */
            

            margin: 0 auto !important; 
            
            }
}


@media(max-width: 560px){

    #cardTextContainer{
        width: 80vw !important; 
        }
        #cardImage{
        width: 80vw !important;
        } 
        
        
        #cardMainContainer{
            position: relative;
            color: white; 
            
            /* width: 22.5vw;  */
            

            margin: 0 auto !important; 
            
            }
    
    
}