#backgroundcontainer{
    box-sizing: border-box; 
    width: 100vw; 
    min-height: 100vh; 
    background-color: #ffffff !important;
    position: relative; 
    z-index: 200; 
    display: grid;
    place-content: center;
    }
    #componentcontainer{
    background-color: white; 
    color: black; 
    width: 90vw; 
    min-height: 100vh;
    margin: 0 auto !important; 
    }
    #componentsectionlist{
    margin: 0 auto ; 
    margin-top: 20vh !important; 
    }
    #listcomponentitem{
        display: inline-block;
    }
    #textlistitem{
    display: inline-block !important;
    margin-top: 0; 
    margin-left: 0 !important; 
    transform: translate(3rem, -17vh) !important ;
    }
    #imagesubcontainer{
        border-radius: 40px; 
        margin: 0 auto !important; 
        display: grid;
        justify-content: center;
    }
    #image{
    height: clamp(24rem, 34vw, 29rem); 
    }
    #textsectioncontainer{
    position: relative;
    max-width: 800px; 
    }
    #textsectionsubcontainer{
    height: 20vh;   
    transform: translate(0rem, 0vh);
    }
    #textsectionheader{
        font-size: clamp(1.5rem, 2.4vw + 1rem, 3rem);
        letter-spacing: -0.12rem;
        width: 30vw; 
        position: relative; 
        z-index: 200;   
        font-weight: 700;   
    }
    #toptextcontainer{
        margin-top: 0.54rem;
        font-size: 1rem;
        font-weight: 450;
        line-height: 1rem;
        color: lightslategray; 
        width: 30vw; 
    }
    #bottomtextcontainer{
        max-width: 650px; 
    }
    #valuesbutton{
    margin-top: 2rem;
    color: white; 
    font-weight: 600;   
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px; 
    display: grid;
    place-content: center;
    transform: translate(0rem, 2.3vh);
    width: 10rem; 
    background-color: #ecb61f;
    }
    @media(max-width: 1200px){
        #textlistitem{
            display: inline-block !important;
            margin: 0 auto !important; 
            width: 90vw; 
            margin-left: 5% !important; 
            transform: translate(0vw, 0vh) !important ;
        }
            #toptextcontainer{
            width: 80vw !important; 
            max-width: 800px; 
            }
            #listcomponentitem{
                display: block !important; 
            }
            #image{
            width: 82.7vw !important; 
            border-radius: 40px; 
            height: clamp(20rem, 63vw, 44.8rem); 
            }
    }
    @media(max-width: 900px){
        #valuesbutton{
            margin-top: 0.5rem !important; 
        }
    }
    @media(max-width: 375px){
            #textlistitem{
                margin: 0 auto !important; 
                }
    }