

#mainContainer{

    
}



#subContainer{


    
}
#imageContainer{


width: 26.823vw; 
height: 17.188rem !important; 

/* background: url('../assets/PrayerNight/BluePrints.jpg') !important;  */

/* background: url('https://lh5.googleusercontent.com/p/AF1QipMxjnRRkB67shRTRd1862vKCKHFxrIb36WWp_MO=w143-h143-n-k-no ');  */
background-repeat: no-repeat; 
background-size: cover; 
background-position: center center;
border-radius: 1rem; 

margin: 0rem auto; 


    
}

#mainImage{

height: auto; 
width: 100%; 
margin: 0 auto; 




    
}





@media(max-width: 1438px){

    #imageContainer{
    
        
        width: 20.2rem !important;
        
        
        /* width:22.253vw; */
        height: 13.375rem !important;
        
        background: url('https://lh5.googleusercontent.com/p/AF1QipMxjnRRkB67shRTRd1862vKCKHFxrIb36WWp_MO=w143-h143-n-k-no '); 
        background-repeat: no-repeat; 
        background-size: cover; 
        background-position: center center;
        margin: 0rem auto !important;
        
        
        
            
        }
    
    
    
}



@media(max-width: 974px){

    #imageContainer{

        width: 17.938rem !important; 
        height: 11.938rem !important; 
        
        

        background: url('https://lh5.googleusercontent.com/p/AF1QipMxjnRRkB67shRTRd1862vKCKHFxrIb36WWp_MO=w143-h143-n-k-no '); 
        background-repeat: no-repeat; 
        background-size: cover; 
        background-position: center center;
        margin: 0rem auto; 
        
        
            
        }
    
    
}


@media(max-width: 950px){
    
    #imageContainer{

        width: 13.875rem !important; 
        height: 9.25rem !important; 
        
        

        background: url('https://lh5.googleusercontent.com/p/AF1QipMxjnRRkB67shRTRd1862vKCKHFxrIb36WWp_MO=w143-h143-n-k-no '); 
        background-repeat: no-repeat; 
        background-size: cover; 
        background-position: center center;
        margin: 0 auto; 
        
        
            
        }
    
    
    
}

@media(max-width: 764px){

    #imageContainer{

        width: 40vw !important;
        
        height: 30vw !important;

        background: url('https://lh5.googleusercontent.com/p/AF1QipMxjnRRkB67shRTRd1862vKCKHFxrIb36WWp_MO=w143-h143-n-k-no '); 
        background-repeat: no-repeat; 
        background-size: cover; 
        background-position: center center;
        margin: 0 auto; 
        
            
        }
    
    
    
}


@media(max-width: 624px){

    #imageContainer{

        width: 70vw !important;
        
        height: 50vw !important;

        background: url('https://lh5.googleusercontent.com/p/AF1QipMxjnRRkB67shRTRd1862vKCKHFxrIb36WWp_MO=w143-h143-n-k-no '); 
        background-repeat: no-repeat; 
        background-size: cover; 
        background-position: center center;
        margin: 0 auto; 
        
            
        }

    
    
}


@media(max-width: 466px){


    #imageContainer{
    
        width: 70vw !important;
        min-height: 50vw; 

        background: url('https://lh5.googleusercontent.com/p/AF1QipMxjnRRkB67shRTRd1862vKCKHFxrIb36WWp_MO=w143-h143-n-k-no '); 
        background-repeat: no-repeat; 
        background-size: cover; 
        background-position: center center;
        margin: 0 auto; 
        
            
        }

    
}




































































