
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter:wght@300&family=Playpen+Sans:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter:wght@300&family=Lobster&family=Playpen+Sans:wght@800&display=swap');


#mainContainer{
background: white !important; 
    
}


#mainSubContainer{
width: 99.999vw; 
display: grid; 
place-content: center; 

}


#mainHeadlineContainer{

    
    
}

#mainHeadline{

    
}


#introTextContainer{

font-family: 'Grand Hotel';

width: 12vw; 
margin: 2rem auto; 
display: grid; 
place-content: center;

color: #dd5449; 


font-weight: 600;

/* Clamp the font size here  */
font-size: 2rem; 
}



#introText{

    
    
}


    
#boldTextContainer{

font-size: clamp(1.7rem, 2vw + 2.5rem, 4rem); 

font-weight: 900;   

font-family: 'Luckiest Guy', cursive ;


margin: 0rem auto; 

display: grid; 
place-content: center; 



width: 90vw; 
text-align: center;

color: #422c18; 






    
}

#boldTextContainer{

    
}



#supportingTextContainer{

    
    width: 65vw; 
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.13rem; 
    margin: 0 auto; 
    color: rgb(83, 80, 80); 

    
}


#supportingText{

    
    
}


#timelineCardsContainer{

    
    
}


#timelineCards{

    
}

#kidsCardGrid{

display: grid; 
grid-template-columns: 1fr 1fr;

margin: 4rem auto; 
width: 80vw; 
place-content: center;
gap:2rem; 





}


#learningSectionContainer{

    
    
    
}


#learningSectionSubContainer{


    
}


#activitiesMainContainer{

    
}

#activitiesSubContainer{

    
    
}


#activitiesHeadlineContainer{

    

    width: 50vw; 
    margin: 0 auto; 
    font-family: 'Grand Hotel', cursive;
    font-size: clamp(1.2rem, 1vw + 1rem, 2rem);
    display: grid;
    place-content: center;
    text-align: center;
    
    
    
    
    
    
}

#headlineFirstIntro{

    color:#dd5449 !important; 
    
    
}

#HeadlineIntro{
    
    
    margin: 0 auto; 
    width: 10vw; 
    

color: #422c18 !important;

    
    
}


#activitiesHeadline{



margin: 0 auto; 
/* color: #422c18 !important; */
/*  color: white;  */



    
}

#activitiesIntroText{

font-family: 'Luckiest Guy', cursive;
font-size: clamp(1.5rem, 2vw + 3rem, 4rem); 
color:#422c18 !important; 

    

    
}

#activitiesCardGrid{
    
    display: grid;
    place-content: center; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    
    
    
    
}




#galleryComponentContainer{

    
    
}

#galleryComponent{

    
    
}


#galleryHeadlineContainer{



width: 50vw; 
margin: 0 auto; 
display: grid;
place-content: center; 
font-size: clamp(1.5rem, 2vw + 1rem, 3rem); 

font-family: 'Luckiest Guy', cursive;
color: #422c18; 


    
    
}



#galleryHeadline{


    
    
}


#imageGridContainer{

    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
    gap: 1rem; 

    
    
}






#youtubeComponentContainer{

    
    
}

#youtubeComponent{


}



#youtubeContainer{

    
    
}


#infoCardsSectionContainer{
    

    
}


#infoCardsSection{

    
    
}


#infoCardsHeadlineContainer{
    
margin: 1rem auto; 
width: 50vw; 



}



#infoCardsHeadline{
    
    font-size: clamp(1.4rem, 2vw + 1rem, 3rem) !important;
    width: max-content; 
    margin: 0 auto;
    font-family: 'Luckiest Guy', cursive;
    color:#422c18; 
    
    
}


#infoCards{

    
}


#infoGridContainer{
    
    display: grid;
    grid-template-columns: 1fr 1fr; 
    margin: 3rem auto; 

    
}






/* Add in the media queries here  */


@media(max-width: 764px){
    #activitiesCardGrid{

       grid-template-columns: 1fr 1fr;

    }
    
    #imageGridContainer{

        display: grid; 
        grid-template-columns: 1fr ;
        place-content: center;
        gap: 1rem; 


        
    }
    
    
    
}


@media(max-width: 700px){
    #infoGridContainer{
    
        display: grid;
        grid-template-columns: 1fr; 
        margin: 2rem auto; 
        
        
    }
    
    
}

@media(max-width: 563px){
    
    /* Add in the grid container here  */
    #kidsCardGrid{

        display: grid; 
        grid-template-columns: 1fr;
        margin: 4rem auto; 

        
        }
        
#supportingTextContainer{
    
    width: 75vw; 
    
    
    
    
}
    
    
    
}

@media(max-width: 460px){

      #activitiesCardGrid{

       grid-template-columns: 1fr;
       
        
    }
    
    
    
}



/* Add in the effects here  */


/* Add in the animations here */


/* Add in the user preference queries here  */










