#mainContainer{
margin: 2rem 0; 

color: white !important; 


}


#subContainer{
width: 99.99vw; 
min-height: 100vh;
display: grid;
place-content: center;
position: relative; 
}
#headlinecontainer{
    font-size: clamp(1rem, 1vw + 1rem, 3rem) !important;
    font-weight: 700;   
    margin: 3rem auto; 
}
#youtubeSectionContainer{
    display: block;
}
#youtubeRowTitleContainer{
margin-left: 10%; 
font-size: clamp(1rem, 1vw + 0.5rem, 1.7rem) !important;
font-weight: 600;
}
#youtubeVideoSlideContainer{
margin: 0 auto; 
display: grid; 
place-content: center;
}
#youtubeVideoList{
width: 90%; 
padding-left: 5%; 
text-align: center;
margin: auto; 
font-size: clamp(1.72rem, 1vw + 1rem, 3rem) !important;
font-weight: 700; 
}
#youtubeVideoListItem{
display: inline-block;
width: 15vw; 
min-width: 10rem; 
border-radius: 25% 10%;
background: red; 
aspect-ratio: 12/12;
}
 @media(max-width:1800px) and (min-width: 1000px){
#youtubeVideoSlideContainer{
margin: 0 auto; 
display: grid; 
place-content: center;
}
#youtubeVideoList{
width: 90%; 
padding: 0 !important; 
text-align: center;
margin: auto; 
}
#youtubeVideoListItem{
display: inline-block;
width: 25.5vw; 
min-width: 10rem; 
border-radius: 25% 10%;
margin: clamp(1rem, 1vw + 1rem, 1.7rem) !important; 
background: red; 
aspect-ratio: 12/12;
}
} 
@media(max-width: 1000px) and (min-width: 700px){
    #youtubeVideoSlideContainer{
        margin: 0 auto; 
        display: grid; 
        place-content: center;
        }
        #headlinecontainer{
            width: 70vw; 
            margin: 2rem auto; 
        }
        #youtubeVideoList{
        width: 90%; 
        padding: 0 !important; 
        text-align: center;
        margin: auto; 
        }
        #youtubeVideoListItem{
        display: inline-block;
        width: 35vw; 
        min-width: 10rem; 
        border-radius: 25% 10%;
        margin: clamp(1rem, 1vw + 0.5rem, 1.7rem) !important; 
        background: blue; 
        aspect-ratio: 12/12;
        }
}
@media(max-width: 700px) and (min-width: 450px){
    #youtubeVideoSlideContainer{
        margin: 0 auto; 
        display: grid; 
        place-content: center;
        }
        #headlinecontainer{
            width: 70vw; 
        }
        #youtubeVideoList{
        width: 90%; 
        padding: 0 !important; 
        text-align: center;
        margin: auto; 
        }
        #youtubeVideoListItem{
        display: inline-block;
        width: 40vw; 
        min-width: 10rem; 
        border-radius: 25% 10%;
        margin: clamp(1rem, 1vw + 0.3rem, 1.5rem) !important; 
        background: blue; 
        aspect-ratio: 12/12;
        }
}
@media(max-width: 570px){
     #youtubeVideoListItem{
        display: inline-block;
        width: 70vw; 
        min-width: 10rem; 
        border-radius: 25% 10%;
        margin: clamp(1rem, 1vw + 0.3rem, 1.5rem) !important; 
        background: blue; 
        aspect-ratio: 12/12;
        }
        #headlinecontainer{
            width: 70vw; 
            margin: 2rem auto; 
        }
}
@media(max-width: 451px){
    #youtubeVideoSlideContainer{
        margin: 0 auto; 
        display: grid; 
        place-content: center;
        }
        #headlinecontainer{
            width: 70vw; 
            margin: 2rem auto; 
        }
        #youtubeVideoList{
        width: 90%; 
        padding: 0 !important; 
        text-align: center;
        margin: auto; 
        }
        #youtubeVideoListItem{
        display: inline-block;
        width: 70vw; 
        min-width: 10rem; 
        border-radius: 25% 10%;
        margin: 0.3rem; 
        background: hotpink; 
        aspect-ratio: 12/12;
        }
}