#textcomponentcontainer{
    width: 99.999vw; 
    box-sizing: border-box;
    padding: 0; 
    margin: 0;  
    background: white !important; 
    }
    #missionsubcontainer{
        width: 85vw; 
        margin: 0 auto; 
        font-size: 1.25rem; 
        color: #9b9997; 
        margin-top: 5rem;
    }
#missionheadline{
font-size: 2.5rem; 
font-weight: 700; 
color: black; 
}    
    #missionversesubcontainer{
    width: 60vw; 
    text-align: left;
    }
    #missionfirstverse{
      color: #00c670; 
      font-size: 1.7rem; 
    font-weight: 550;   
    }
    #missiontextcontainer{
        color: #9b9997; 
        position: relative; 
        z-index:4; 
    }
    #quotationicon{
        -webkit-transform: translate(-80vw, 20px) rotate(180deg);
        -moz-transform: translate(-80vw, 20px) rotate(180deg);
        -ms-transform: translate(-80vw, 20px) rotate(180deg);
        -o-transform: translate(-80vw, 20px) rotate(180deg);
        transform: translate(-80vw, 20px) rotate(180deg);
}
    #firsticon{
         transform: translate(-55vw, 50px) rotate(180deg);
    }
    #thirdicon{
         transform: translate(-79.4vw, 50px) rotate(180deg);
    }
    #missioncardcontainer{
        padding-bottom: 2rem !important;
    }
    
    #missionsecondverse{
    color:#00c670; 
    font-size: 1.7rem; 
    font-weight: 550; 
    }
    #missionthirdverse{
    color:#00c670; 
    font-size: 1.7rem; 
    font-weight: 550; 
    }
    #missioncardheadlinecontainer{
        position: relative; 
        z-index: 2;
    }
    #missioncardheadline{
    color: #00c670;
    margin: 0 auto; 
    width: max-content; 
    margin: 3rem auto; 
    font-size: 3rem;
    font-weight: 800;   
    }
    #missioncardsubheadlinecontainer{
        position: relative; 
        z-index: 3; 
        width: 50vw;
        display: flex;
        justify-items: center;
        font-size: clamp(1rem, 1vw + 1rem, 1.65rem); 
        font-weight: 600;   
        margin: 0 auto;         
    }
    #missioncardsubheadline{
    margin: 0 auto; 
    }
    @media(max-width: 1700px) and (min-width: 1023.4px){
        #missioncardcontainer{
            display: grid;  
            grid-template-columns: 1fr 1fr 1fr;
            width: 95vw; 
            margin: 1rem auto; 
            margin-bottom: 5rem; 
        }
        #missioncarditem{
            margin: 2rem auto; 
        }
    }
    @media(max-width: 1023px){
        #missioncardcontainer{
            display: grid;  
            grid-template-columns: 1fr ;
            width: 95vw; 
            margin: 1rem auto; 
            margin-bottom: 3rem; 
        }
        #missioncarditem{
            margin: 2rem auto; 
        }
        #missioncardheadline{
        font-size: clamp(1.7rem, 3vw + 1rem, 3rem) !important;
        }
    }
    @media(max-width: 1700px) and (min-width: 768.5px){
#missionheadline{
font-size: 2.5rem; 
font-weight: 700; 
color: black; 
}    
#missionversecontainer{
margin-top: -20px !important; 
}
#missionversesubcontainer{
width: 60vw; 
text-align: left;
}
#missionfirstverse{
  color: #00c670; 
  font-size: 1.7rem; 
font-weight: 550;   
}
#missiontextcontainer{
margin-top: 80px; 
}
#missionfirstverse{
    margin-left: 10.7%; 
}
#missionsecondversecontainer{
    margin-left: 8.5%; 
}
#missionthirdversecontainer{
    margin-left: 8.5%; 
}
#missionsecondtextcontainer{
    margin-top: 80px; 
}
#missionthirdtextcontainer{
    margin-top: 80px; 
}
    }
    @media(max-width: 774px) and (min-width: 500px ){
        #missionsubcontainer{
            margin-top: -20% !important;
        }
    }
    @media(max-width: 773.5px){
        #firsticon{
            display: none; 
        }
        #quotationicon{
            display: none; 
        }
        #thirdicon{
            display: none; 
        }
        #missionfirstverse{
        margin: 0 auto; 
        }
        #missionsecondversecontainer{
            margin: 0 auto; 
        }
        #missionthirdversecontainer{
            margin: 0 auto; 
        }
        #missioncardsubheadlinecontainer{
            color:#9b9997; 
            margin: 0 auto !important;
        }
    }
    @media(max-width: 768px) and (min-width: 499.9px){
#missionheadline{
font-size: 2.1rem; 
font-weight: 700; 
color: black; 
width: 90vw; 
}    

#missionversesubcontainer{
width: 60vw; 
text-align: left;
}
#missionfirstverse{
  color: #00c670; 
  font-size: 1.7rem; 
font-weight: 550;   
}
    }
    @media(max-width: 499px){
    #missionsubcontainer{
        margin-top: -2%; 
    }
#missionheadline{
font-size: 1.5rem; 
font-weight: 700; 
color: black; 
}    
#missionversesubcontainer{
width: 60vw; 
text-align: left;
}
#missionfirstverse{
  color: #00c670; 
  font-size: 1.7rem; 
font-weight: 550;   
}
    #missioncardsubheadlinecontainer{
    text-align: center !important;
    }
    }