*, *::after, *::before{
padding: 0; 
margin: 0; 
box-sizing: border-box;
}
body{
padding: 0; 
margin: 0; 
box-sizing: border-box; 
}


#new-nav-container{
width: 100vw; 
min-height: 6.5rem; 
position: absolute;
top: 0; 
left: 0; 
z-index: 1;

}
#new-nav-sub-container{
position: relative; 
min-height: 6.5rem;
}

#new-nav-bar{
width: 90vw; 
}

#new-nav-logo-container{
    position: absolute;
    top: 28%; 
    left: 4.55%; 
    font-size: clamp(1.5rem, 1vw + 1rem, 3rem) !important; 
    z-index: 2;
}
#new-nav-logo{
font-weight: 770;
font-size: clamp(2.3rem, 2.2vw + 1rem, 2.69rem);
width: 30vw; 
color: white; 
}
#new-nav-list{
width: 41vw; 
height: 5.94rem; 
position: absolute; 
right: 2%; 
bottom: -15%; 
transform: translate(0.7rem, 0.5rem) !important;
-webkit-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
-moz-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
-ms-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
-o-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1); 
}
#new-nav-list-item{
    display: inline-block;
    margin-left: 6rem;
    -webkit-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -ms-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
#new-nav-text{
    display: inline-block; 
    margin-left: 1rem; 
    color: white; 
    font-weight: 550;   
    text-transform: uppercase;
    font-size: 0.9rem; 
    transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
#new-nav-icon{
 color: white;
 display: inline-block;
 font-size: 1.75rem;
 
 -webkit-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
 -moz-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
 -ms-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
 -o-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
 transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
#new-nav-text{
 -webkit-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
 -moz-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
 -ms-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
 -o-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
 transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
@media(max-width: 1400px){
    #new-nav-list{
    width: 45vw; 
    }
    #new-nav-list-item{
        margin-left: clamp(2rem, 3vw + 2rem, 6rem); 
    }
}
@media(max-width: 1260px){
    #new-nav-list{
    width: 35vw; 
    }
    #new-nav-list-item{
        margin-left: clamp(1.5rem, 2.5vw + 1rem, 5rem); 
    }
    #new-nav-text{
        display: none !important;
    }
}
@media(max-width: 1036px){
    #new-nav-list{
        width: 38vw; 
    }
    #new-nav-text{
        display: none;
    }
}
@media(max-width: 1000px){
    #new-nav-list{
      width: 32vw; 
    }
    #new-nav-list-item{
        margin: 0 auto; 
        margin-left: 2rem; 
    }
    #new-nav-text{
       display: none !important; 
    }
}
@media(max-width: 950px){
    #new-nav-list-item{
        margin-top: 0;
        position: relative;
        -webkit-transform: translate(0rem, 1.6rem) !important;
        -moz-transform: translate(0rem, 1.6rem) !important;
        -ms-transform: translate(0rem, 1.6rem) !important;
        -o-transform: translate(0rem, 1.6rem) !important;
        transform: translate(0rem, 1.6rem) !important;
}
#new-nav-icon{
margin-bottom: 0 !important; 
}
#new-nav-list{
   bottom: -8.8% !important; 
}
}
@media(max-width: 1000px){
    #new-nav-list{
        width: 34vw !important; 
    }
}
@media(max-width: 950px){
    #new-nav-list{
        -webkit-transform: translate(0rem, -0.5rem) !important;
        -moz-transform: translate(0rem, -0.5rem) !important;
        -ms-transform: translate(0rem, -0.5rem) !important;
        -o-transform: translate(0rem, -0.5rem) !important;
        transform: translate(0rem, -0.5rem) !important;
}
}
@media(max-width: 774px){
    #new-nav-icon{
    display: none !important; 
    }
}
@media(max-width: 949px){
    #new-nav-list{
        width: 25vw !important;
        -webkit-transform: translate(0rem, -1.6rem);
        -moz-transform: translate(0rem, -1.6rem);
        -ms-transform: translate(0rem, -1.6rem);
        -o-transform: translate(0rem, -1.6rem);
        transform: translate(0rem, -1.6rem);
}
}
@media(max-width: 700px){
    #new-nav-logo-container{
    transform: translate(0rem 0rem) !important;
    }
}
@media(max-width: 670px){
    #new-nav-list{
        width: 29vw !important; 
    }
    #new-nav-logo-container{
        width: 40vw; 
    }
    #new-nav-logo{
        width: 40vw; 
    }
}
@media(max-width:555px){
    #new-nav-list{
        width: 40vw !important; 
    }
    #new-nav-modal-container{
    margin: 0 !important; 
    }
    #new-nav-logo-container{
        position: absolute;
        top: 14%; 
     
    }



}
.nav-hover:hover ~ #new-nav-icon + #new-nav-text{
    color: red !important; 
}
.nav-hover:hover * {
    color: red !important; 
}
#new-nav-icon:hover{
color: red !important; 
}
#new-nav-text:hover{
    color: red !important; 
}
#nav-hover:hover > * {
    color: red !important; 
}


/* @media(max-width:940px){


.mobileSideBar{


display: none; 


}



} */
