


#mainContainer{


    
}

#mainSubContainer{

    
}




#contentContainer{
    

    
    
}



#contentSubContainer{

    
    
    
}


#headlineContainer{


    
}




#headlineSubCotnainer{



}


#firstHeadline{

    
    
}


#headlineTextContainer{
    

    
}


#headlineText{

    
    
}


#nightSectionContainer{

    
    
}



#nightSection{

    
    
    
}


#nightHeadlineContainer{
    
    
}

#nightHeadline{


}

#nightCTAContainer{


display: flex; 

    
    
}


#nightCTA{

    display: block; 

    line-height: 0; 
    
    margin: 3rem auto; 
    
    
    /* margin-top: -1rem;  */
    
    
    
}


#prayerSecondSectionContainer{

    
    
    
}


#prayerSecondSectionSubContainer{

    
    
}



#prayerHeadlineContainer{



}


#prayerHeadlineSubContainer{

    
    
    
}


#prayerHeadline{

    
}

#prayerTextContainer{

    
    
}



#prayerText{


}


#prayerText{

    
}

#prayerCardsSubContainer{

    
}


#prayerGridContainer{
    
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2rem auto; 

    width: 70vw; 
    
    margin-bottom: 8rem !important;
    
    
    place-content: center; 
    
    /* justify-content: center; */
    gap: 2rem; 
    
    
    
    
}

#prayerCards{

    width: 80vw; 
    margin: 0 auto; 
    
    
}


#teachingTestimoniesMainContainer{


    
}


#teachingTestimoniesSubContainer{

    
    
}

#teachingHeadlineContainer{

    
    
}

#teachingHeadlineSubContainer{

    
    
}


#teachingHeadline{

    
    
}



#teachingCardSectionContainer{


}

#teachingCardSectionSubContainer{

    
}


#teachingCards{


margin: 3rem auto; 


    
}


/* ------Worship Section----- */

#worshipSectionMainContainer{

    
    
}


#worshipSectionSubContainer{

    
}


#worshipHeadlineContainer{

    
    
}



#worshipHeadlineSubContainer{

    
    
}


#worshipHeadline{

    
}

#worshipSectionCardsContainer{

    
}


#worshipSectionCardsSubContainer{

    
    
}


#worshipSectionCards{

    
    
}


#worshipGridContainer{
    
    display: grid; 
    place-content: center; 
    grid-template-columns: 1fr 1fr 1fr;

    width: 90vw; 
    margin: 2rem auto; 
    /* margin-bottom: 4rem !important; */
    margin-top: 5rem; 
    

    
    
    
}



/* Details  */

    
#detailsSectionContainer{

    
    
}


#detailsSectionSubContainer{

    
    
}


#detailsHeadlineContainer{


    
}


#detailsHeadlineSubContainer{

    
    
}


#detailsHeadline{

    
    
}

#detailsCardContainer{

    
    
}


#detailsCardSubContainer{

    
    
}

#detailsCards{

    
}

#detailsCards{

    
}




#infoCardsGrid{
    
    display: grid;
    place-content: center; 
    grid-template-columns: 1fr 1fr;
    
    width: 80vw; 
    margin: 3rem auto; 

}


/* Requests  */

#requestSectionSubContainer{


    
}

#requestHeadlineContainer{

    
}


#requestHeadline{

    
}



    
#prayerRequestComponent{

    
}



/* Add in the media queries here  */

@media(max-width: 900px){
    
    /* Select the Info Card grid here  */
    #infoCardsGrid{
    
        display: grid;
        place-content: center; 
        grid-template-columns: 1fr 1fr;
        
        width: 80vw; 
        margin: 0 auto; 
        gap: 1em; 
        
    }
    
    
    
    
#worshipGridContainer{
    
    display: grid; 
    place-content: center; 
    grid-template-columns: 1fr 1fr 1fr;
    width: 90vw; 
    margin: 2rem auto; 

    margin-top: 5rem; 
    

    
    
    
}


#prayerGridContainer{
    
    display: grid; 
    grid-template-columns: 1fr 1fr ;
    width: 80vw; 

    place-content: center; 
    gap: 2rem; 

}


@media(max-width: 650px){

    #worshipGridContainer{
    
    display: grid; 
    place-content: center; 
    grid-template-columns: 1fr ;
    width: 90vw; 
    margin: 2rem auto; 
    margin-top: 5rem; 

}


#prayerGridContainer{
    
    display: grid; 
    grid-template-columns: 1fr ;
    margin: 0 auto; 

    width: 70vw;    

    place-content: center; 
    gap: 2rem; 

}
#infoCardsGrid{
    
    display: grid;
    place-content: center; 
    grid-template-columns: 1fr;

    width: 80vw; 
    margin: 3rem auto; 
    gap: 1em; 
    
    
}




    
    
    
}






    
    /* Select the Outreach Cards Grid here  */
    
    
    
    /* Select the Material Cards Grid here  */
    
    
    
    
}



@media(max-width: 1200px){
    
#nightCTAContainer{


/* margin-top: -12rem; */

    
    
    
    
}
    
    
}


/* Add in the container queries here  */


/* Add in the user preference queries here  */



/* Add in the Effects here  */



/* Add in the animations here  */
































































































