


#mainContainer{


    
}

#mainSubContainer{

    
}




#contentContainer{
    

    
    
}



#contentSubContainer{

    
    
    
}


#headlineContainer{


width: 50vw; 
margin: 0 auto; 
padding-top: 2.4rem; 
display: grid;
place-content: center;

    
}




#headlineSubCotnainer{



}


#firstHeadline{

font-size: clamp(1.8rem, 2vw + 1rem, 2.3rem);
font-weight: 900;   

    
    
}


#headlineTextContainer{
    

    
}


#headlineText{

    
    
}


#nightSectionContainer{

    
    
}



#nightSection{

    
    
    
}


#nightHeadlineContainer{
    
    
}

#nightHeadline{


}

#nightCTAContainer{


display: flex; 

    
    
}


#nightCTA{

    display: block; 

    line-height: 0; 
    
    margin: 3rem auto; 
    
    
    /* margin-top: -1rem;  */
    
    
    
}


#prayerSecondSectionContainer{

    
    
    
}


#prayerSecondSectionSubContainer{

    
    
}



#prayerHeadlineContainer{



}


#prayerHeadlineSubContainer{

    
    
    
}


#prayerHeadline{

    
}

#prayerTextContainer{


   width: 50vw; 
   margin: 0 auto; 
   display: grid; 
   place-content: center; 
   
    
}



#prayerText{
    
    font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
    font-weight: 900;   
    

}


#prayerText{

    
}

#prayerCardsSubContainer{

    
}


#prayerGridContainer{
    
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2rem auto; 

    width: 70vw; 
    
    margin-bottom: 8rem !important;
    
    
    place-content: center; 
    
    /* justify-content: center; */
    gap: 2rem; 
    
    
    
    
}

#prayerCards{

    width: 80vw; 
    margin: 0 auto; 
    
    
}


#teachingTestimoniesMainContainer{


    
}


#teachingTestimoniesSubContainer{

    
    
}

#teachingHeadlineContainer{



width: 50vw; 
margin: 4rem auto !important;
/* padding: 3rem;  */

display: grid; 
place-content: center; 


    
    
}

#teachingHeadlineSubContainer{

    
    
}


#teachingHeadline{

    font-size: clamp(1.5rem, 2vw + 1rem, 2rem) !important; 
    font-weight: 900;   
    
    
}



#teachingCardSectionContainer{


}

#teachingCardSectionSubContainer{

    
}


#teachingCards{


margin: 3rem auto; 


    
}


/* ------Worship Section----- */

#worshipSectionMainContainer{

    
    
}


#worshipSectionSubContainer{

    
}


#worshipHeadlineContainer{

width: 50vw; 
margin: 0 auto; 
display: grid; 
place-content: center; 


    
    
}



#worshipHeadlineSubContainer{

    
    
}


#worshipHeadline{

    
    font-size: clamp(1.5rem, 2vw + 1rem, 2rem) !important;
    font-weight: 900;   
    margin-bottom: -2.5rem; 
    
    
}

#worshipSectionCardsContainer{

    
}


#worshipSectionCardsSubContainer{

    
    
}


#worshipSectionCards{

    
    
}



#worshipGridContainer{
    
    display: grid; 
    place-content: center; 
    grid-template-columns: 1fr 1fr 1fr;

    width: 90vw; 
    margin: 2rem auto; 
    /* margin-bottom: 4rem !important; */
    margin-top: 5rem; 
    

    
    
    
}



/* Details  */

    
#detailsSectionContainer{

    
    
}


#detailsSectionSubContainer{

    
    
}


#detailsHeadlineContainer{

    width: 50vw; 
    margin: 1rem auto; 
    display: grid;
    place-content: center;

    font-size: clamp(1.5rem, 2vw + 1rem, 2rem) !important;
    color: white !important; 
    position: relative; 
    z-index: 200;   
    
    
}


#detailsHeadlineSubContainer{

    
    
}



#detailsHeadline{

    
    
width: 50vw; 
margin: 0 auto; 
min-height: 4rem;
color: rgb(222, 221, 228) !important; 
position: relative; 
z-index: 2000;
display: grid;
place-content: center;
font-size: clamp(1.5rem, 2vw + 1rem, 2.2rem) !important;
font-weight: 900;   

    
    
}

#detailsCardContainer{

    
    
}


#detailsCardSubContainer{

    
    
}

#detailsCards{

    
}

#detailsCards{

    
}




#infoCardsGrid{
    
    display: grid;
    place-content: center; 
    grid-template-columns: 1fr 1fr;
    
    width: 80vw; 
    margin: 3rem auto; 

}


/* Requests  */

#requestSectionSubContainer{


    
}

#requestHeadlineContainer{

    
}


#requestHeadline{

    
}



    
#prayerRequestComponent{

    
}



/* Add in the media queries here  */

@media(max-width: 900px){
    
    /* Select the Info Card grid here  */
    #infoCardsGrid{
    
        display: grid;
        place-content: center; 
        grid-template-columns: 1fr 1fr;
        
        width: 80vw; 
        margin: 0 auto; 
        gap: 1em; 
        
    }
    
    
    
    
#worshipGridContainer{
    
    display: grid; 
    place-content: center; 
    grid-template-columns: 1fr 1fr 1fr;
    width: 90vw; 
    margin: 2rem auto; 

    margin-top: 5rem; 
    

    
    
    
}


#prayerGridContainer{
    
    display: grid; 
    grid-template-columns: 1fr 1fr ;
    width: 80vw; 

    place-content: center; 
    gap: 2rem; 

}


@media(max-width: 650px){

    #worshipGridContainer{
    
    display: grid; 
    place-content: center; 
    grid-template-columns: 1fr ;
    width: 90vw; 
    margin: 2rem auto; 
    margin-top: 5rem; 
    

}


/* Add in all the headline containers here  */

#detailsHeadlineContainer{

    margin-bottom: -2rem !important;
    
    
}

#worshipHeadlineContainer{


outline: 4px solid lime; 
width: 90vw; 
/* margin: 3rem auto;  */
padding-top: 1rem; 
margin-bottom: -1.5rem !important; 





}


#teachingHeadlineContainer{

outline: 4px solid lime; 
width: 90vw; 
margin-top: -3rem !important;
margin-bottom: -1rem !important;



    
}


#prayerHeadlineContainer{

outline: 4px solid lime; 
margin: 2rem auto; 
margin-top: -2.5rem;

    
}


#headlineContainer{
    
    outline: 4px solid lime; 
    width: 90vw !important; 
    
    
}

#prayerGridContainer{
    
    display: grid; 
    grid-template-columns: 1fr ;
    margin: 0 auto; 

    width: 70vw;    

    place-content: center; 
    gap: 2rem; 

}
#infoCardsGrid{
    
    display: grid;
    place-content: center; 
    grid-template-columns: 1fr;

    width: 80vw; 
    margin: 3rem auto; 
    gap: 1em; 
    
    
}




    
    
    
}






    
    /* Select the Outreach Cards Grid here  */
    
    
    
    /* Select the Material Cards Grid here  */
    
    
    
    
}



@media(max-width: 765px){

    
    /* Add in the top headline container here  */
    
    #headlineContainer{
    
    margin-top: -10rem; 
    

    }
    
    
    
}

@media(max-width: 500px){

    #headlineContainer{
    
        margin-top: -3rem; 
        
    
        }
    
}



/* Add in the container queries here  */


/* Add in the user preference queries here  */



/* Add in the Effects here  */



/* Add in the animations here  */
































































































