#mainContainer{
    
    
    
    
    
}


#mainSubContainer{

    
     
    
}


    
#contentContainer{
    
    outline: 4px solid blue; 
    width: 80vw; 
    margin: 4rem auto; 
    position: relative; 
    
    
}


    
#contentSubContainer{
    
    

}

#headlineContainer{


}

#headlineSubCotnainer{


}


#firstHeadline{

    font-size: clamp(1rem, 1vw + 1rem, 2rem); 
    font-weight: 700; 
    outline: 4px solid lime; 
    margin: 0 auto; 
    width: max-content; 
    
    
    
}

#headlineDiv{
    
    width: max-content; 
    outline: 14px solid blue; 
    margin: 1rem auto; 
    
    
}

    
#headlineTextContainer{
    
    
    font-size: 1rem; 
    color: rgb(200, 188, 188); 


}

#headlineText{
    
    
    max-width: 70vw; 
    
    
}


#businessSectionContainer{


}


    
#businessSection{

    
    
}


#businessHeadlineContainer{

    
    outline: 4px solid red; 
    
    width: 20vw; 
    margin: 0 auto; 
    
    
    


}

#businessHeadline{

font-size: 2rem; 

font-weight: 550; 
/* margin-bottom: -1rem;  */


    
}


#businessCTA{


outline: 4px solid blue; 

display: grid; 
place-content: center;



}

#scholarSecondSectionContainer{


    
}


#scholarSecondSectionSubContainer{


    
}


#scholarHeadlineContainer{

    
}


#scholarHeadlineSubContainer{

    
    
    
}


#scholarHeadline{

    
    
}

    
#scholarTextContainer{

    
}


#scholarText{

    
}


#scholarCardsSectionContainer{

    
}

#scholarCardsSubContainer{

    
    
}

#scholarCards{

    
}


#scholarGridContainer{

   outline: 20px solid red; 
   display: grid; 
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 1rem; 
   width: 80vw; 
   margin: 0 auto; 
   
    
}



/* Counselling Section  */


#counsellingTestimoniesMainContainer{

    
}

#counsellingTestimoniesSubContainer{
    

    
}


#counsellingHeadlineContainer{

    
}


#counsellingHeadlineSubContainer{

    
}

#counsellingHeadline{

    
}


#counsellingCardSectionContainer{


    
    
}

#counsellingCardSectionSubContainer{

    
}


#counsellingCards{

    
}

#prayerNightsSectionMainContainer{

    
    
}


#prayerNightsSectionSubContainer{

    
    
}


#prayerNightsHeadlineContainer{
    

    
}


    
#prayerNightsHeadlineSubContainer{

    
    
}

#prayerNightsHeadline{

    
}


#prayerNightsSectionCardsContainer{

    
}

#prayerNightsSectionCardsSubContainer{

    
}


#prayerNightsSectionCards{



}



#farmingSectionContainer{

    
}


#farmingSectionSubContainer{

    
}

#farmingHeadlineContainer{

    
    
}

#farmingHeadlineSubContainer{

}



#farmingHeadline{


}



#farmingCardContainer{

    
}


#farmingCardSubContainer{

    
    
}



#farmingCards{

    
}


#farmingGrid{
    
    display: grid; 
    place-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem; 

    
}



#foodDistributionSectionContainer{

    
    
}


#foodDistributionSectionSubContainer{
    
    
    
}


#foodHeadlineContainer{
    
    
}



#foodHeadline{
    

    
}

#foodHeadline{


    
    
}


#foodCardsSubContainer{

    
    
}

#foodCards{


/* outline: 20px solid lime;  */
display: grid; 
place-content: center; 

    
}



#giveCTASectionContainer{
    

    
}



#giveCTASectionSubContainer{

    
    
}


#giveHeadlineContainer{

    
    
}



#giveHeadlineSubContainer{

    
}


#giveHeadline{
    
    
}










/* Add in the media queries here  */

@media(max-width: 990px){
    
#scholarGridContainer{
    
 grid-template-columns: 1fr 1fr;
 width: 60vw; 
 
    
    
}

#farmingGrid{

    grid-template-columns: 1fr 1fr;
    
    
    
}
    
    
}


@media(max-width: 650px){
    
    #scholarGridContainer{
    
        grid-template-columns: 1fr;
        width: 80vw; 
        place-content: center;

           
       }
       
       #farmingGrid{

        grid-template-columns: 1fr;
        
        outline: 10px solid lime; 
        margin: 0 auto; 
        place-content: center; 
        
        width: max-content; 
        
        gap: 1.5rem; 
        
        
        
        
        
        
    }
    
    
    
}














