#mainContainer{
    
    padding: 0 !important; 
    margin: 0 !important; 
    box-sizing: border-box; 
    
    
    
    
}


#mainSubContainer{

    
     
    
}


    
#contentContainer{
    

    width: 80vw; 
    margin: 4rem auto; 
    position: relative; 
    
    
}


    
#contentSubContainer{
    
    

}

#headlineContainer{





}

#headlineSubCotnainer{


}


#firstHeadline{

    font-size: clamp(1rem, 1vw + 1rem, 2rem); 
    font-weight: 700; 

    margin: 0 auto; 
    width: max-content; 
    
    
    
}

#headlineDiv{
    
    width: max-content; 

    margin: 1rem auto; 
    
    color: rgb(43, 41, 41) !important;
    
    
    
}

    
#headlineTextContainer{
    
    
    font-size: 1rem; 
    color: rgb(71, 68, 68); 
    margin:0rem auto; 
    margin-top: 0rem !important; 
    
    

}

#headlineText{
    
    
    max-width: 70vw; 
    
    
}


#businessSectionContainer{


}


    
#businessSection{

    
    
}


#businessHeadlineContainer{

    

    
    width: 20vw; 
    margin: 0 auto; 
    
    
    
    
    


}

#businessHeadline{

font-size: 2rem; 

font-weight: 550; 
/* margin-bottom: -1rem;  */


    
}


#businessCTA{




display: grid; 
place-content: center;



}

#scholarSecondSectionContainer{


width: 80vw; 
margin: 4rem auto !important; 

padding: 0 !important; 

display: grid; 
place-content: center; 



    
}


#scholarSecondSectionSubContainer{


    
}


#scholarHeadlineContainer{

    
}


#scholarHeadlineSubContainer{

    
    
    
}


#scholarHeadline{

    
    
}

    
#scholarTextContainer{

    
}


#scholarText{

    
}


#scholarCardsSectionContainer{


    
margin: 0 auto; 



    
}

#scholarCardsSubContainer{


    
    
}

#scholarCards{

    
}


#scholarGridContainer{


   display: grid; 
   grid-template-columns:  1fr 1fr 1fr;

   width: 80vw; 
   

   margin: 0 auto !important; 
   place-content: center !important;
    
    margin-top: -4rem !important; 
    
    
}



/* Counselling Section  */


#counsellingTestimoniesMainContainer{

    
}

#counsellingTestimoniesSubContainer{
    

    
}


#counsellingHeadlineContainer{

    
}


#counsellingHeadlineSubContainer{

    
}

#counsellingHeadline{

    
}


#counsellingCardSectionContainer{


    
    
}

#counsellingCardSectionSubContainer{

    
}


#counsellingCards{

    
}

#prayerNightsSectionMainContainer{

    
    
}


#prayerNightsSectionSubContainer{

    
    
}


#prayerNightsHeadlineContainer{
    

    
}


    
#prayerNightsHeadlineSubContainer{

    
    
}

#prayerNightsHeadline{

    
}


#prayerNightsSectionCardsContainer{

    
}

#prayerNightsSectionCardsSubContainer{

    
}


#prayerNightsSectionCards{



}



#farmingSectionContainer{

    
}


#farmingSectionSubContainer{

    
}

#farmingHeadlineContainer{

    
    
}

#farmingHeadlineSubContainer{

}



#farmingHeadline{




}



#farmingCardContainer{





    
}


#farmingCardSubContainer{

    
    
}



#farmingCards{

    
}


#farmingGrid{
    
    display: grid; 
    place-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem; 
    margin: 3rem auto; 
    
    
}



#foodDistributionSectionContainer{

    
    
}


#foodDistributionSectionSubContainer{
    
    
    
}


#foodHeadlineContainer{
    
    
}



#foodHeadline{
    

    
}

#foodHeadline{


    
    
}


#foodCardsSubContainer{

    
    
}

#foodCards{



display: grid; 
place-content: center; 

    
}



#giveCTASectionContainer{
    

    
}



#giveCTASectionSubContainer{

    
    
}


#giveHeadlineContainer{

    
    
}



#giveHeadlineSubContainer{

    
    
    
}


#giveHeadline{
    
    
    margin:4rem auto; 
    
    
}










/* Add in the media queries here  */

@media(max-width: 990px){
    
#scholarGridContainer{
    
    
    margin-top: 0 !important; 
    margin: 0 auto !important; 
    
}



#farmingGrid{

    grid-template-columns: 1fr 1fr;
    
}
    
    
}

@media(max-width: 768px){
    #headlineContainer{
        
        margin-top: -30vh; 

        }
    
    
    
}


@media(max-width: 650px){
    
    #scholarGridContainer{
    
        grid-template-columns: 1fr;
        width: 80vw; 
        place-content: center;

           
       }

       #farmingGrid{

        grid-template-columns: 1fr;

        margin: 0 auto; 
        place-content: center; 
        
        width: max-content; 
        
        gap: 1.5rem; 
        
        
        
        
        
        
    }
    
    
    
    
    
    
}



@media(max-width: 501px){

    #headlineContainer{



margin-top: -10vh; 


}
    
}


















