*, *::after, *::before{
    padding: 0; 
    margin: 0; 
    }
    body{
    position: relative; 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    }
    #right-background-container{
    width: 99.99vw !important; 
    margin: 0 auto !important; 
    background-color: #ffffff !important;
    position: relative; 
    z-index: 200; 
    display: grid;
    place-content: center;
    }
    #right-component-container{
    background-color: white; 
    color: black; 
    width: 90vw; 
    margin: 2rem auto !important; 
    display: grid;
    justify-content: center;
    height: min-content !important;
    }
    #right-component-section-list{
    margin: 4rem auto ; 
    /* margin-top: 17vh !important;  */
    position: relative !important; 
    
    /* background: blue;  */
    
    
    }
    #right-list-component-item{
        display: inline-block;
    }
    #right-text-list-item{
    display: inline-block !important;
    margin: 3rem auto !important;
    padding: 0 !important;
    -webkit-transform: translate(0, -30%) !important;
    -moz-transform: translate(0, -30%) !important;
    -ms-transform: translate(0, -30%) !important;
    -o-transform: translate(0, -30%) !important;
    transform: translate(0, -30%) !important;
}
    #right-image-sub-container{
        border-radius: 40px; 
        margin: 0 auto !important; 
        display: grid;
        justify-content: center;
    }
    #right-image{
/* ----- ADD IN A CALC FUNCTION ----- */
    height: clamp(14rem, 23vw, 29rem) !important;
    width: 33vw !important; 
    max-width: 800px !important;
    }
    /* ----TEXT SECTION------ */
    #right-text-section-container{
    max-width: 800px;
    }
    #right-text-section-sub-container{
    height: 20vh;   
    transform: translate(0rem, 0vh);
    }
    #right-text-section-typography{
        width: 90%; 
        margin-left: -1.5rem;
    }
    #right-text-section-header{
        font-size: clamp(1.5rem, 2.4vw + 1rem, 3rem);
        letter-spacing: -0.12rem;
        width: max-content !important; 
        position: relative; 
        z-index: 200;   
        font-weight: 700;   
        margin: 0 auto !important; 
        place-self: center;
    }
    #right-top-text-container{
        font-size: 1rem;
        font-weight: 450;
        line-height: 1rem;
        color: lightslategray; 
        width: 27vw; 
        text-align: left;
        transform: translate(0, 7%) !important; 
        margin-left: 2.5rem;
    }
    #right-lorem-container{
    margin: 0 auto !important; 
    }
    #right-bottom-text-container{
        max-width: 650px; 
        margin-top: 0.7rem; 
    }
    /* -----Button Section ------ */
    #right-values-button{
    margin-top: 2rem;
    color: white; 
    font-weight: 600;   
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px; 
    display: grid;
    place-content: center;
    transform: translate(0rem, 2.3vh);
    width: 10rem; 
    background-color: #ecb61f;
    }
    @media(max-width: 1700px) and (min-width: 1200.5px){
        #right-text-list-item-backup{
            display: none;
        }
        #right-text-section-typography{
            margin-top: 3.5rem; 
        }
        #right-component-section-list{
            display: flex; 
            justify-items: space-around;    
        }
    }
    @media(max-width: 1200px) and (min-width: 1105.5px){
        #right-text-section-block-container-backup{
            margin-left: 3.7% !important; 
        }
    }
    @media(max-width: 1200px){
        #right-text-list-item{
          display: none !important; 
        }
        
            #right-top-text-container{
            width: 80vw !important; 
            max-width: 500px !important; 
            margin: 0 auto; 
            }
            
            #right-text-section-block-container-backup{
                width: 50vw; 
            }
            #right-component-section-list{
            width: 50vw; 
            position: relative; 
            }
            #right-text-section-header-backup{
            font-size: clamp(1.5rem, 2.4vw + 1rem, 3rem);
            letter-spacing: -0.12rem;
            position: relative; 
            z-index: 200;   
            font-weight: 700;   
            margin-left: 2.2%; 
            }
            #right-text-list-item-backup{
            display: inline-block !important;
            margin: 0 auto !important; 
            width: 90vw; 
            margin-left: 5% !important; 
            transform: translate(0vw, 0vh) !important ;
            }
            #right-list-component-item{
                display: block !important; 
            }
            #right-image{
            width: 82.7vw !important; 
            border-radius: 40px; 
            /*---- ADD IN A CALC FUNCTION ----- */
            height: clamp(20rem, 63vw, 44.8rem); 
            max-width: 500px !important;
            }
    }
    @media(max-width: 1070px) and (min-width: 601px){
        #right-component-section-list{
            width: 500px !important; 
        }
    }
    @media(max-width: 995px) and (min-width:600px){
        #right-text-section-block-container-backup{
            width: 500px !important; 
        }
    }
    @media(max-width: 900px){
        #right-values-button{
            margin-top: 0.5rem !important; 
        }
    }
    @media(max-width: 600px){
        #right-component-section-list{
            width: 77vw; 
        }
        #right-text-section-block-container-backup{
        width: 77vw !important; 
        padding: 0 !important;
        transform: translate(0,0) !important;
        }
        #top-right-text-backup{
            margin-left: -1rem; 
        }
        #right-bottom-text-container{
            margin-left: -1rem; 
        }
    }
    @media(max-width: 375px){
            #right-text-list-item{
                margin: 0 auto !important; 
            }
    }