*, *::after, *::before{
padding: 0; 
margin: 0; 
}
body{
position: relative;
 padding: 0; 
 margin: 0; 
}
#modal-signup-title{
color: white; 
margin: 0 auto; 
width: 77%; 
display: flex;
flex-wrap: wrap;
text-align: center;
margin-top: 1rem; 
}
#signup-modal-close-btn{
color: white !important; 
}