
    #backgroundcontainer{
    
    
        position: relative; 
        width: 100vw; 
        min-height: 100vh;
        padding: 0; 
        margin: 0; 
        box-sizing: border-box; 
    
    width: 99.99vw !important; 
    margin: 0 auto !important; 
    min-height: 100vh; 
    background-color: #ffffff !important;
    position: relative; 
    z-index: 200; 
    display: grid;
    place-content: center;
    }
    #componentcontainer{
    background-color: white; 
    color: black; 
    width: 90vw; 
    min-height: 100vh;
    margin: 0 auto !important; 
    display: grid;
    justify-content: center;
    }
    #componentsectionlist{
    margin: 0 auto ; 
    margin-top: 20vh !important; 
    }
    #listcomponentitem{
        display: inline-block;
    }
    #textlistitem{
    display: inline-block !important;
    margin: 0 auto !important; 
    position: relative !important; 
    padding: 0 !important; 
    transform: translate(20%, 20%) !important;
    
    text-align: right; 

    
    }
    #imagesubcontainer{
        border-radius: 40px; 
        margin: 0 auto !important; 
        display: grid;
        justify-content: center;
    }
    #image{
    max-width: 600px !important;
    
    border-radius: 10px; 
        
    outline: 10px solid lime !important; 
    
    }
    /* ----TEXT SECTION------ */
    #textsectioncontainer{
    position: relative;
    max-width: 750px;
    transform: translate(0, -15.5%);
    width: 70%; 
    }
    #textsectionsubcontainer{
    height: 20vh;   
    transform: translate(0rem, 0vh);
    }
    #textsectionheader{
        font-size: clamp(1.5rem, 2.4vw + 1rem, 3rem);
        letter-spacing: -0.12rem;
        width: 30vw; 
        position: relative; 
        z-index: 200;   
        font-weight: 700;   
    }
    #toptextcontainer{
    
    
        margin-top: 0.54rem;
        font-size: 1rem;
        font-weight: 450;
        line-height: 1rem;
        color: lightslategray; 
        width: 22vw; 
        text-align: center !important;

        
    }
    #bottomtextcontainer{
        max-width: 650px; 
        margin-top: 0.7rem; 
        
        
    }
    #valuesbutton{
    margin-top: 2rem;
    color: white; 
    font-weight: 600;   
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px; 
    display: grid;
    place-content: center;
    transform: translate(0rem, 2.3vh);
    width: 10rem; 
    background-color: #ecb61f;
    }
    @media(max-width: 1700px) and (min-width: 1200.5px){
        #textlistitembackup{
            display: none;
        }
        #image{
            max-width: 50vw !important;
            width: 31vw !important; 
            height: 50vh !important; 
        }
    }
    @media(max-width: 1200px){
        #textlistitem{
          display: none !important; 
        }
            #textsectioncontainer{
             transform: translate(0,0) !important;
            }
            #toptextcontainer{
            width: 80vw !important; 
            max-width: 800px; 
            }
            #textlistitembackup{
            display: inline-block !important;
            margin: 0 auto !important; 
            position: relative;
            transform: translate(0vw, 0vh) !important ;
            }
            #listcomponentitem{
                display: block !important; 
            }
            #image{
            width: 82.7vw !important; 
            border-radius: 40px; 
            /*---- ADD IN A CALC FUNCTION ----- */
            height: clamp(20rem, 63vw, 44.8rem); 
            }
    }
    @media(max-width: 1200px) and (min-width:777px){
        #textlistitembackup{
            margin-left: 10% !important; 
        }
    }
    @media(max-width: 900px){
        #valuesbutton{
            margin-top: 0.5rem !important; 
        }
    }
    @media(max-width: 670px){
        #image{
            max-height: 400px;
        }
    }
    @media(max-width: 375.5px){
            #textlistitem{
                margin: 0 auto !important; 
                }
                
                #textlistitembackup{
                    margin-left: 6.6% !important;
                }
                
                #image{
                max-height: 350px; 
                }
    }