
    #backgroundcontainer{
    
    
        position: relative; 
        /* width: 100vw;  */
        min-height: 100vh;
        padding: 0; 
        margin: 0; 
        box-sizing: border-box; 
    
    width: 99.99vw !important; 
    margin: 0 auto !important; 
    min-height: 100vh; 
    background-color: #ffffff !important;
    position: relative; 
    z-index: 200; 
    display: grid;
    place-content: center;
    }
    #componentcontainer{
    background-color: white; 
    color: black; 
    width: 90vw; 
    min-height: 100vh;
    margin: 0 auto !important; 
    display: grid;
    justify-content: center;
    
    outline: 10px solid lime; 
    
    }
    #componentsectionlist{
    margin: 0 auto ; 
    margin-top: 20vh !important; 
    
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    
    outline: 20px solid blue; 
     /* width: max-content !important;  */
     width: min-content !important; 
     

    
    
    
    }
    #listcomponentitem{
        display: inline-block;
    }
    #textlistitem{
    
    /* outline: 4px solid red;  */
    
    
    display: inline-block !important;
    margin: 0 auto !important; 
    position: relative !important; 
    padding: 0 !important; 
    transform: translate(0%, 20%) !important;
    /* width: min-content !important;  */
    /* width: 20vw !important;  */
    height: auto; 
    
    text-align: left; 

    
    }
    #imagesubcontainer{
        border-radius: 40px; 
        margin: 0 auto !important; 
        display: grid;
        justify-content: center;
    }
    #image{
    max-width: 600px !important;
    
    width: 55vw; 
    
    
    border-radius: 10px; 
        
    outline: 10px solid lime !important; 
    
    }
    /* ----TEXT SECTION------ */
    #textsectioncontainer{
    position: relative;
    transform: translate(0, -15.5%);
    
    outline: 5px solid blue; 
    
    
    
    }
    #textsectionsubcontainer{
    
        
    height: 20vh;   
    transform: translate(0rem, 0vh);
    }
    #textsectionheader{
        font-size: clamp(1.5rem, 2.4vw + 1rem, 3rem);
        letter-spacing: -0.12rem;
        width: 30vw; 
        position: relative; 
        z-index: 200;   
        font-weight: 700;   
    }
    #toptextcontainer{
    
    
        /* margin-top: 0.54rem; */
        font-size: 1rem;
        font-weight: 450;
        line-height: 1rem;
        color: lightslategray; 
        /* width: 22vw;  */
        text-align: left !important;
        margin: 1rem auto !important; 
        
        width: auto; 
        
        
        
    }
    #bottomtextcontainer{
        max-width: 650px; 
        margin-top: 0.7rem; 
        
        
    }
    #valuesbutton{
    margin-top: 2rem;
    color: white; 
    font-weight: 600;   
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px; 
    display: grid;
    place-content: center;
    transform: translate(0rem, 2.3vh);
    width: 10rem; 
    background-color: #ecb61f;
    }
    
    
    @media(max-width: 970px){
        
        
        #componentsectionlist{
        
        grid-template-columns: 1fr; 
        
        grid-template-rows: auto;
        height: auto !important; 
        gap: 4.5rem; 
        

        }
        
        #textlistitem{
        
            outline: 30px solid hotpink; 
            margin: 3rem auto; 
            height: auto !important; 
            
            
        }
        
        

    }
    
    @media(max-width: 500px){
    
        #componentsectionlist{
        
     
            gap: 6.6rem; 
            
    
            }
        
    }

    