

#mainContainer{
    
    

    
}


#subContainer{

    
    
}


#videoContainer{
    
    width: 74.74vw; 
    /* height: 103vh;  */
    background: blue; 
    height: 37.35vw; 
    
    
    /* height: 40.438rem;  */
    
    margin: 4rem auto !important; 
    

}


#video{


    
}



























































