





#mainContainer{

    
    
    
}


#subContainer{
    
position: relative; 

    
}

#VideoContainer{

background: blue; 
width: 80vw; 
min-height: 43vw; 
margin: 0rem auto; 
max-height: 40.375rem; 

    
}
































