    #componentcontainer{
        background: white !important; 
    }
    #textsectioncontainer{
        display: grid;
        place-content: center;
        margin: 0 auto !important; 
        text-align: left;
        width: 61vw; 
        
    }
    #headlinecontainer{
        margin-top: 3.5rem; 
    }
    #textsectionheadline{
        font-size: clamp(1.75rem, 2vw + 1rem, 3rem);
        font-weight: 700; 
        margin-bottom: 5rem; 
    }

    

    #infotext{
        color: #a2a19f;
        margin-bottom: 1.4rem; 
        font-size: 1.2rem; 
        font-weight: 500;
    }
    #ctaTextContainer{
    width: max-content; 
    margin: 1rem auto !important; 
    font-size: clamp(1.1rem, 1vw + 1rem, 1.5rem) !important; 
    font-weight: 700;
    }
    #livelinksectioncontainer{
        margin: 0 auto; 
        display: grid;
        place-content: center;
    }
    #livelistitem{
        display: inline-block;
        margin-right: 2rem; 
        font-size: 1.9rem;
    }
    #youtubelink{
    font-size: 2.2rem;
    color: rgb(26, 25, 25);
    position: relative;
    z-index: 2;
}
    #youtubelink:hover{
        -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -ms-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
    #youtubelink:hover{
        transform: rotate(360deg) scale(1.2); /* Rotate and scale the icon */
        color: #0fdf27; 
        transition-delay: 0.2s; 
    }
    #facebooklink{
        font-size: 2rem; 
        color: rgb(26, 25, 25); 
        position: relative; 
        z-index: 2;
    }
    #facebooklink:hover{
        -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -ms-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #facebooklink:hover{
        -webkit-transform: rotate(360deg) scale(1.2);
        -moz-transform: rotate(360deg) scale(1.2);
        -ms-transform: rotate(360deg) scale(1.2);
        -o-transform: rotate(360deg) scale(1.2);
        transform: rotate(360deg) scale(1.2);
        color: #0fdf27; 
}
    #livelinkbtn{
       width: 7rem; 
       height: 3rem; 
       background-color: white; 
       display: grid;
       place-content: center;
       border-radius: 7px;
      border: 4px solid #00c670;
    }
    #youtubesectioncontainer{
        padding-bottom: 4rem !important;
    }
    #youtubevideo{
        max-width: 501px; 
        width: 40vw; 
        min-width: 400px; 
        min-height: 45vh;
        margin: 3rem auto; 
        background-color: blue; 
    }
    @media(max-width: 768.10px) and (min-width: 500.10px) {
        #textsectioncontainer{
            margin-top: -30% !important;
        }
        #textsectionheadline{
            margin-top: -5%;
        }
    }
    @media(max-width: 500px){
        #textsectioncontainer{
            margin-top: -20% !important;
        }
        #textsectionheadline{
            transform: translate(0, 2rem);
        }
        #textsectionheadline{
            margin-top: -5%;
        }
    }